html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #F5F0E8;
    font-family: 'Plus Jakarta Sans', sans-serif
}

a {
    text-decoration: none;
    cursor: pointer;
}


input, select, textarea {
    background-color: #F5F0E8;
    border: 1px solid rgba(92, 82, 74, 0.33);
    padding: 0.5rem;
    font-size: 0.8rem;
}

.page {
    min-height: 100vh;
    color: #1e1b2e;
    padding: 2rem;
    overflow: auto;
}

.page-header{
    margin-bottom: 2rem; 
}


.page-header h1 {
    font-size: 26px;
    margin-bottom: 5px;
    font-weight: 700
}

.page-header p {
    color: #6b7280;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

label {
    color: #5C524A;
    font-weight: 500;
    font-family: 'Spline Sans Mono', monospace
}

/* MODAL BASE (shared style for FinderLink) */
.finder-modal {
    border-radius: 18px;
    border: none;
    background: #FFFEFC;
}

    /* HEADER STYLE */
    .finder-modal h5 {
        font-weight: 700;
        color: #1a1a1a;
    }

/* INPUT STYLE (same as claim modal) */
.custom-input {
    border-radius: 10px;
    border: 1px solid #e5e1dc;
    font-size: 14px;
    padding: 0.6rem 0.8rem;
    transition: 0.2s ease;
    background: #F5F0E8;
}

    .custom-input:focus {
        border-color: #e8d84f;
        box-shadow: 0 0 0 2px rgba(232, 216, 79, 0.25);
    }

/* LABEL */
.form-label {
    font-size: 12px;
    color: #5C524A;
    margin-bottom: 4px;
}

/* BUTTONS (shared) */
.btn-cancel {
    background: transparent;
    border: none;
    font-size: 13px;
    font-weight: 600;
    color: #5C524A;
    padding: 6px 12px;
}

.btn-submit {
    background: #2a2a2a;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 6px 14px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.2s ease;
}

    .btn-submit:hover {
        background: #1f1f1f;
    }

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}